/4z5_variations.txt
/4z6_variations.txt
/5z5_variations.txt
/5z6_variations.txt
/5z42_variations.txt
/6z6_variations.txt
/6z49_variations.txt
/negacja wszystkiego_output_file.txt
/negacja wszystkiego_output_file.txt.tmp
/3 w losowaniu_variations.txt
/3z5_variations.txt
/3z6_variations.txt
*.class
